/.idea/
/third_party/.eggs/
/third_party/build/
/third_party/dist/
/third_party/py_obiwarp.egg-info/
/third_party/var/

/data/TripleTOF_6600/
/data/TripleTOF_6600_results_mzmine2/
/data/TripleTOF_6600_results_xcms/
/data/TripleTOF_6600_results_openms/
/data/TripleTOF_6600_results_metapro/

/data/QE_HF/
/data/QE_HF_results_mzmine2/
/data/QE_HF_results_xcms/
/data/QE_HF_results_openms/
/data/QE_HF_results_metapro/

/experiments/
/data/MTBLS562/
/data/MTBLS562_results_openms/
/data/MTBLS562_results_mzmine2/
/data/MTBLS562_results_metapro/
/data/MTBLS562_results_xcms/
